<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1T3gAN5YreVSA7FPuZkX9ZMQL-wuq2to</string>
	<key>GCM_SENDER_ID</key>
	<string>835182071208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evisaApplication</string>
	<key>PROJECT_ID</key>
	<string>e-visa-application</string>
	<key>STORAGE_BUCKET</key>
	<string>e-visa-application.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835182071208:ios:3eaeee29821cf90f26619d</string>
</dict>
</plist>